@{
    ViewBag.Title = "About Us";
}
<h2>
    About This Demo</h2>
<p>
    MVC gives us total control over markup in ASP.NET. Or in other words, you better learn how to turn HTML into something pretty. Luckily, there is a great framework to help us out: jQuery UI! We will take a look at using jQuery UI to do exactly that. We will start with simple HTML markup and transform it into interactive widgets with very little code. jQuery UI widgets add style and behavior to otherwise drab markup without changing its semantics. We will also look at Wijmo, a new toolkit that extends jQuery UI. Wijmo brings over 30 widgets to jQuery UI from Menus to SVG Charts, 18 of which are Open Source. Both jQuery UI and Wijmo can take your Views from boring to brilliant in ASP.NET MVC. After this session you will be ready to start putting the V in MVC!
</p>
