@{
    ViewBag.Title = "Welcome to Wijmo & MVC!";
}
<h2>@ViewBag.Message</h2>
<img src='@Url.Content("~/Content/images/wijmo-power.png")' alt="Powered By Wijmo, jQuery, jQuery UI, Themeroller and Raphael" />
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>. To learn more about Wijmo visit <a href="http://wijmo.com" title="Wijmo - jQuery UI widgets">http://wijmo.com</a>.
</p>
